<p>
    N3 is a modern mod_perl2/apache2 handler that enables developers to build robust, modern web applications.
</p>
<p>
    It can be obtained on github here: <a href='http://github.com/jstrinko/N3'>http://github.com/jstrinko/N3</a>
</p>
<p>
    N3 manager is an application that allows for easy management of N3 projects and helps developers get started quickly.
</p>
<p>
    It can also be obtained on github here: <a href='http://github.com/jstrinko/N3manager'>http://github.com/jstrinko/N3manager</a>
</p>
