<section>
    <ul><li><a href="#" onclick="App.save_file('<%= container %>', '<%= file %>'); return false;">Save</a></li><li><a href="#" onclick="App.show_file('<%= container %>','<%= file %>'); return false;">Cancel</a></li><li><a href="#" onclick="$('<%= container %>').html(''); return false;">Close</a></li></ul>
    <div><textarea></textarea></div>
</section>
