<h1>N3 project manager</h1>
<ul><!-- Do this so the inline block elements don't have whitespace
    --><li><a href='#'>Home</a></li><!--
    --><li><a href='#projects'>My Projects</a></li><!--
    --><li><a href='#status'>Status</a></li><!--
--></ul>
