<project>
    <div class=row>
	<name><%= project.get('name') %></name>
	<actions>
	    <a href='#view_source/<%= project.get('environment').SRCTOP.replace('/','\') %>/<%= project.get('name') %>'>View Source</a>
	</actions>
    </div>
</project>
