header {
    clear: both;
    display: block;
    width: 100%;
    border-bottom: 1px solid #009;
    background-color: #eaeaef;
    text-align: center;
}
header h1 {
    font-size: 1.2em;
    margin: 0px;
    position: fixed;
    left: 0px;
    top: 0px;
    display: inline-block;
    position: absolute;
    padding-left: 5px;
    padding-top: 3px;
    font-weight: normal;
    color: #333;
}
header ul {
    list-style-type: none;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 300px;
    white-space: no-wrap;
}
header ul li {
    display: inline-block;
}
header ul li:nth-child(n+2):before {
    content: '\b7\a0';
    padding-left: 6px;
}
