main {
    display: block;
    width: 800px;
    margin: 0 auto;
    border: 5px solid #666;
    background-color: #eaeaef;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
main h2 {
    color: #333;
    font-weight: normal;
    font-size: 1.1em;
}
