project {
    display: block;
    padding: 5px 10px;
}
project:nth-child(even) {
    background-color: #eaeaef;
}
project actions ul {
    list-style-type: none;
    margin: 0px;
    font-size: .9em;
    padding-left: 0px;
    display: inline-block;
    float: right;
}
project actions ul li {
    display: inline-block;
}
project actions ul li:nth-child(n+2):before {
    padding-left: 6px;
    content: '\b7\a0'; /* middot */
}
project textarea {
    width: 100%;
    height: 300px;
}
