project {
    display: block;
}
project actions ul {
    list-style-type: none;
    margin: 0px;
    font-size: .9em;
    padding-left: 0px;
    display: inline-block;
    float: right;
}
project actions ul li {
    display: inline-block;
}
project actions ul li:nth-child(n+2):before {
    padding-left: 6px;
    content: '\b7\a0'; /* middot */
}
