section {
    display: block;
    clear: both;
    padding: 5px;
}
section ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
section ul li {
    display: inline-block;
}
section ul li:nth-child(n+2):before {
    padding-left: 6px;
    content: '\b7\a0';
}
section a {
    font-size: .8em;
}
