projects, form {
    display: block;
    border: 1px solid #666;
    background-color: #fefefe;
    overflow: hidden;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
